<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">

	<!-- Database -->

	<bean id="database" class="com.excilys.cdb.persistence.Database"></bean>

	<!-- Validator -->

	<bean id="computerValidator" class="com.excilys.cdb.validator.ComputerValidator">
		<property name="companyService" ref="companyService" />	
	</bean>

	<!-- Mappers -->

	<bean id="dbCompanyMapper" class="com.excilys.cdb.mapper.DBCompanyMapper"></bean>
	<bean id="dbComputerMapper" class="com.excilys.cdb.mapper.DBComputerMapper">
		<property name="companyMapper" ref="dbCompanyMapper" />
	</bean>

	<bean id="webCompanyMapper" class="com.excilys.cdb.mapper.WebCompanyMapper"></bean>
	<bean id="webComputerMapper" class="com.excilys.cdb.mapper.WebComputerMapper">
		<property name="companyMapper" ref="webCompanyMapper" />
		<property name="validator" ref="computerValidator" />
	</bean>

	<!-- Dao -->

	<bean id="companyDAO" class="com.excilys.cdb.persistence.CompanyDAO">
		<property name="database" ref="database" />
		<property name="mapper" ref="dbCompanyMapper" />
		<property name="computerDAO" ref="computerDAO" />
	</bean>

	<bean id="computerDAO" class="com.excilys.cdb.persistence.ComputerDAO">
		<property name="database" ref="database" />
		<property name="mapper" ref="dbComputerMapper" />
	</bean>

	<!-- Controllers -->

	<bean id="dbController" class="com.excilys.cdb.controller.DBController">
		<property name="companyDAO" ref="companyDAO" />
		<property name="computerDAO" ref="computerDAO" />
		<property name="companyMapper" ref="dbCompanyMapper" />
		<property name="computerMapper" ref="dbComputerMapper" />
	</bean>

	<bean id="cliController" class="com.excilys.cdb.controller.CLIController">
		<property name="view" ref="cliView" />
		<property name="asker" ref="cliAsker" />
		<property name="companyService" ref="companyService" />
		<property name="computerService" ref="computerService" />
	</bean>

	<!-- Services -->

	<bean id="companyService" class="com.excilys.cdb.service.CompanyService">
		<property name="controller" ref="dbController" />
	</bean>

	<bean id="computerService" class="com.excilys.cdb.service.ComputerService">
		<property name="controller" ref="dbController" />
	</bean>

	<!-- UI -->

	<bean id="cli" class="com.excilys.cdb.ui.CLI">
		<property name="controller" ref="cliController" />
	</bean>

	<bean id="cliView" class="com.excilys.cdb.ui.CLIView"></bean>

	<bean id="cliAsker" class="com.excilys.cdb.ui.CLIAsker">
		<property name="companyService" ref="companyService" />
	</bean>

	

	
</beans>
